/* 2 */
.front-page-slider {
  position: relative;
  width: 100%;
  height: 100%;

  /* darckblue */
  overflow: hidden;
}

.front-page-slider .myslide {
  height: 700px;
  display: none;
  overflow: hidden !important;
}

.front-page-slider .prev,
.front-page-slider .next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  transition: 0.1s;
  user-select: none;
}

.front-page-slider .prev:hover,
.front-page-slider .next:hover {
  color: rgb(243, 4, 243);
  /* blue */
}

.front-page-slider .next {
  right: 0;
}


.front-page-slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 0.2;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}

.front-page-slider .txt {
  width: 50%;
  /* background-color: #fb00ff; */
  position: absolute;
  color: #fff;
  letter-spacing: 2px;
  line-height: 35px;
  top: 30%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
  min-height: 400px;
  transition: 1s ease-out;
}

@-webkit-keyframes posi {
  from {
    top: 100%;
    opacity: 0.5;
  }

  to {
    top: 30%;
    opacity: 1;
  }
}

@keyframes posi {
  from {
    top: 100%;
    opacity: 0.5;
  }

  to {
    top: 30%;
    opacity: 0.8;
  }
}

.front-page-slider .txt h1 {
  color: rgb(254, 31, 254);
  /* blue */
  font-size: 40px;
  font-weight: 100;
  word-spacing: 0.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.front-page-slider .txt p {
  font-weight: lighter;
  text-transform: capitalize;
}


.front-page-slider .txt-btn {
  margin-top: 25px;
  background-color: #fb00ff;
  color: white;
  word-spacing: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
}


.front-page-slider img {
  transform: scale(1.5, 1.5);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

@media (max-width: 426px) {

  
  .front-page-slider .myslide {
    max-height: 100%;
  }

  .caural-contant-text {
    display: none;
  }

  

  




  .front-page-slider .txt {
    z-index: 20;

    letter-spacing: 2px;
    line-height: 15px;
    top: 50%;
    right: -5%;
    transform: translate(-20%, -50%) scale(0.5);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
    transform: scale(0.2);
  
  }

  #grid-txt {
    font-size: 80px;
    padding: 0px;
    margin-top: 20px;
  }

  @-webkit-keyframes posi2 {
    from {
      top: 100%;
    }

    to {
      top: 50%;
    }
  }

  @keyframes posi2 {
    from {
      top: 100%;
    }

    to {
      top: 50%;
    }
  }

  .front-page-slider .txt h1 {
    font-size: 30px;
  }

  .front-page-slider .txt p {
    font-size: 30px;
  }

  .grid-span {
    font-size: -50px;
    transform: scale(0.2);
  }
}